.main {
  background-color: #c0c0c0;

}

.sidebar {
  background-color: #606060;
}

.keycontent{
  background-color: #F8f8f8;
}

.happy{
  color: yellow;
  background-color: black;
}

#sad {
  color: blue;
}

#story{
  display: none;
}

#blanks{
  width: 50%
}
